body{
    margin: 0;
}
/*add style header*/
#headerDiv{
    background-color: #1a1a1a;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#headerDiv img{
    height: 100px;
    width: 140px;
    float: left;
}

#headerDiv h1{
    color: #fff;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 40px;
    float: left;
}

#headerDiv a{
    color: #fff;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 40px;
    float: left;
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/*add style main*/
.gridContener{
    margin-top: 110px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /*text-align: center;*/
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    padding: 10px;
    background-color:#ceccccd3;
   
}

.gridItem{
    text-align: center; 
    padding: 25px;
    border: 1px solid #464545;
    border-radius: 5px;
    background-color: #e6e2e2;

}

.gridItem img{
    
}


/*add style footer*/
#footerDiv{
    background-color: #1a1a1a;
    height: 50px;
    width: 100%;
   /* position: fixed;*/
    bottom: 0;
    left: 0;
    
}

#footerDiv p{
    color: #fff;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
}

